<form class="exercise-create">
    <div>
        <h3>Exercise name:</h3>
        <textarea id="exercise-name"></textarea>
    </div>
    <div>
        <h3>Muscle Group:</h3>
        <textarea id="muscle-group"></textarea>
    </div>
    <div>
        <h3>Description:</h3>
        <textarea id="description"></textarea>
    </div>    
    <div>
        <h3>Tutorial Video Link:</h3>
        <textarea id="video-link"></textarea>
    </div>
</form>