<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>{{exercise.exercise_name}}</h2>
        </div>
        <div class="col-3">
            <h2>{{exercise.muscle_group}}</h2>
        </div>
        <div class="col-3">
            <p>{{exercise.description}}</p>
        </div>
        <div class="col-3">
            <iframe width="560" height="315" src="{{exercise.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>