<div>You are on the homepage</div>

{{#if loggedIn}}

<button id="logout" class="btn-no-style">Logout</button>

{{else}}
<div>you are logged out</div>
 <button id="logout" class="btn-no-style">Logout</button>
{{/if}}


