<div class="container">
    <div class="row">
        <div class="col">
            <h2>Welcome to Social Strength! A new social media network for sharing fitness routines!</h2>
        </div>
    </div>
</div>


