<form class="routine-form">
    <div>
        <h2>Routine Name:</h2>
        <textarea name="routine-name"></textarea>
    </div>
</form>
<div>
    <h2>Choose what exercises to add:</h2>
    <ul>
        {{#each exercises as |exercise|}}
        <li><input id="exercise-{{exercise.id}}" type="checkbox"> {{exercise.exercise_name}}</li>
        {{/each}}
    </ul>
    <button class="submit">Submit</button>
</div>
