<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>{{routine.routine_name}}</h2>
        </div>
        <div class="col-3">
            <h2>{{routine.username}}</h2>
        </div>
        <div class="col-3">
            <ul>
                <li>{{routine.exercise_name}}</li>
            </ul>
        </div>
    </div>
</div>