
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(209, 14, 14);
    background-color: black;
  }


  .btn {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: black;
    background-color: rgb(209, 14, 14);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: black;
    background-color: rgb(209, 14, 14);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }


  header {
    border-bottom: 1px solid rgb(209, 14, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }


footer {
    border-top: 1px solid rgb(209, 14, 14);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

img {
  height: 200px;
  width: 300px;
}

.card {
  border: 1px solid rgb(209, 14, 14);
  background-color: black;
}

li a {
  color: maroon;
}